{%include "include/header.html"%}

<!-- ================== MAIN ================== -->


<main>
  <div id="boxList">
    <div class="tbl-type06">


      <table id="tblScheduleList" class="tbl" summary="경기일정 및 결과 표 (날짜, 시간, 경기, 게임센터, TV, 구장, 비고)">
        <p class="scedule_list">경기일정 및 결과 표</p>
        <colgroup>
          <col width="10%">
          <col width="8%">
          <col width="25%">
          <col width="15%">
          <col width="15%">
          <col width="10%">
          <col width="10%">
        </colgroup>
        <thead>
          <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>경기</th>
            <th>게임센터</th>
            <th>TV</th>
            <th>구장</th>
            <th>비고</th>
          </tr>
        </thead>
        <tbody id="scheduleBody">
          <tr>
            <td colspan="7">로딩중…</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

{%include "include/footer.html"%}