{%include "include/header.html"%}

<!-- ================== MAIN ================== -->


<main>
  <div id="boxList">
    <div class="tbl-type06">


      <table id="tblScheduleList" class="tbl" summary="경기일정 및 결과 표 (날짜, 시간, 경기, 게임센터, TV, 구장, 비고)">
        <caption>경기일정 및 결과 표</caption>
        <colgroup>
          <col width="10%">
          <col width="8%">
          <col width="25%">
          <col width="15%">
          <col width="15%">
          <col width="10%">
          <col width="10%">
        </colgroup>
        <thead>
          <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>경기</th>
            <th>게임센터</th>
            <th>TV</th>
            <th>구장</th>
            <th>비고</th>
          </tr>
        </thead>
        <tbody id="scheduleBody">
          <tr>
            <td colspan="7">로딩중…</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="../assets/js/game_match_list.js"></script>
  <script src="./assets/js/menubar.js"></script>
  <!-- 날씨 api js -->
  <script src="./assets/js/weather.js"></script>


</main>
<!-- 플로팅 챗봇 버튼(이미지 교체만 하면 됨) -->
<button class="fab" id="fabBtn" aria-haspopup="dialog" aria-controls="chatModal" aria-expanded="false">
  <img src="../assets/img/Floating_Chatbot_Icon.png" alt="도움말 열기">
</button>

</html>