{%include "include/header.html"%}
<main>
    <div class="location_title">
        <p>오시는 길</p>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.3303178387955!2d128.67891447559919!3d35.840903172536095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3566095381548595%3A0x4a48e31222ad6c61!2z64yA6rWs7IK87ISx65287J207Jio7KaI7YyM7YGs!5e0!3m2!1sko!2skr!4v1759976658220!5m2!1sko!2skr"
            width="100%" height="750" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="transport">
        <p>교통안내</p>

        <table class="route_pc">
            <tr>
                <td>KTX</td>
                <td></td>
                <td>동대구역 </td>
            </tr>
            <tr>
                <td>고속버스</td>
                <td></td>
                <td>동대구터미널 </td>
            </tr>
            <tr>
                <td>지하철</td>
                <td><span style="background-color: #2dba1e; padding: 0 5px; color: #fff;">2호선</span> </td>
                <td>수성알파시티역 4,5번 출구</td>
            </tr>

            <tr>
                <td>시내버스</td>
                <td><span style="background-color: #1e2eba; padding: 0 4px; color: #fff;">간선</span> </td>
                <td>수성알파시티역 1번출구(09154) 연호동화훼단지2방면 <br> 100, 100-1, 309, 349, 399, 509, 609, 649, 724, 848, 894, 937,
                    949, 990, 991
                    <br> 수성알파시티역 5번출구(09153) 월드컵삼거리방면 <br> 100, 100-1, 309, 349, 399, 509, 609, 649, 724, 848, 894, 937,
                    949, 990, 991
                </td>
            </tr>

            <tr>
                <td></td>
                <td><span style="background-color: #4cc844; padding: 0 4px; color: #fff;">지선</span></td>
                <td> 수성알파시티역 1번출구(09154) 연호동화훼단지2방면 : 수성3-1 <br> 수성알파시티역 5번출구(09153) 월드컵삼거리방면 : 수성3</td>
            </tr>

        </table>

        <table class="route_mobile">
            <tr>
                <td>KTX</td>
            </tr>
            <tr>
                <td>동대구역</td>
            </tr>
            <tr>
                <td>고속버스</td>
            </tr>
            <tr>
                <td>동대구터미널</td>
            </tr>
            <tr>
                <td>지하철</td>
            </tr>
            <tr>
                <td><span class="line2">2호선</span> 수성알파시티역 4,5번 출구
                </td>
            </tr>
            <tr>
                <td>시내버스</td>
            </tr>
            <tr>
                <td><span class="gansun">간선</span> <br> 수성알파시티역
                    1번출구(09154) <br>[연호동화훼단지2방면] <br>100, 100-1, 309, 349, 399, 509, 609, 649, 724, 848, 894, 937, 949, 990, 991
                </td>
            </tr>
            <tr>
                <td> 수성알파시티역 5번출구(09153) <br>[월드컵삼거리방면] <br> 100, 100-1, 309, 349, 399, 509, 609, 649, 724, 848, 894, 937,
                    949, 990, 991
                </td>
            </tr>
            <tr>
                <td><span class="jisun">지선</span><br> 수성알파시티역
                    1번출구(09154) <br>[연호동화훼단지2방면] : 수성3-1</td>
            </tr>
            <tr>
                <td>수성알파시티역 5번출구(09153) <br>[월드컵삼거리방면] : 수성3</td>
            </tr>
        </table>


    </div>
</main>
<footer></footer>
<!-- 메뉴바 js -->
<script src="./assets/js/menubar.js"></script>
<!-- 날씨 api js -->
<script src="./assets/js/weather.js"></script>
<!-- 챗봇 엔터 키 이벤트 js -->
<!-- <script src="./assets/js/chat.js"></script> -->
</body>

</html>