/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* 헤더 고정 확인용 최소 높이 지정 */
  min-height: 110vh;
}

/* PC 버전 */
@media (min-width: 769px) {


  main {
    margin: 0 235px;
    /* background-color: red; */
    height: auto;
  }

  .location_title {
    margin-top: 50px;
    /* background-color: antiquewhite; */
  }

  .location_title p {
    font-size: 32px;
    font-weight: bold;

    /* padding-bottom: 100px; */
    margin-bottom: 30px;
    /* background-color: red; */
  }

  .map {
    width: 100%;
    height: 750px;

    overflow: hidden;
    margin-bottom: 40px;
  }


  .transport>p {
    font-size: 28px;
    font-weight: bold;
    border-bottom: 3px solid #005BAC;
    padding-bottom: 8px;
    margin-bottom: 15px;
  }



  .transport .route_pc {
    width: 100%;
    height: 300px;

    margin-bottom: 100px;
    font-size: 16px;
    margin-top: 50px;
  }

  .transport .route_pc tr {
    height: 100px;
  }

  .transport .route_pc tr:nth-child(4) {
    /* background-color: red; */
    height: 200px;
  }

  .transport .route_pc td {
    vertical-align: top;
    line-height: 1.8;
    /* 줄간격 넓힘 */
  }

  .transport .route_pc tr td:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    padding: 0 40px;
    width: 20%;

  }

  .transport .route_pc tr td:nth-child(2) {
    text-align: center;
    font-size: 20px;
    width: 10%;
    top: 0;
  }

  .transport .route_pc tr td:nth-child(3) {
    font-size: 20px;
    padding: 0 20px;
  }

  .transport .route_mobile {
    display: none;
  }
}



@media (max-width: 768px) {
  main {
    margin: 0 20px;
    /* background-color: red; */
    height: 200px;
  }

  .location_title {
    margin-top: 20px;
    /* background-color: antiquewhite; */
  }

  .location_title p {
    font-size: 32px;
    font-weight: bold;

    padding-bottom: 30px;
  }

  .map {
    margin-bottom: 50px;
    
  }

  .transport>p {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid #005BAC;
    padding-bottom: 8px;
    margin-bottom: 15px;
  }

  .transport .route_pc {
    display: none;
  }

  .transport .route_mobile {
    height: 800px;


  }

  .transport .route_mobile td {
    padding: 0 10px;

  }

  .line2 {
    background-color: #2dba1e;
    padding: 0 5px;
    color: #fff;
    display: inline-block; /* 인라인블록으로 바꿔야 margin 작동함 */
    margin-bottom: 4px;    /* 원하는 만큼 여백 조정 */
  }
  
  .gansun{
    background-color: #1e2eba;
    padding: 2px 6px;
    color: #fff;
    display: inline-block; /* 인라인블록으로 바꿔야 margin 작동함 */
    margin-bottom: 4px;  
  }

  .jisun{
    background-color: #4cc844;
    padding: 2px 6px;
    color: #fff;
    display: inline-block; /* 인라인블록으로 바꿔야 margin 작동함 */
    margin-bottom: 4px;  
  }
  .transport .route_mobile tr:nth-child(1),
  .transport .route_mobile tr:nth-child(3),
  .transport .route_mobile tr:nth-child(5),
  .transport .route_mobile tr:nth-child(7) {
    font-size: 25px;
    font-weight: bold;
  }

  .transport .route_mobile tr:nth-child(2),
  .transport .route_mobile tr:nth-child(4),
  .transport .route_mobile tr:nth-child(6),
  .transport .route_mobile tr:nth-child(8),
  .transport .route_mobile tr:nth-child(9),
  .transport .route_mobile tr:nth-child(10),
  .transport .route_mobile tr:nth-child(11) {
    font-size: 18px;
    /* color: red; */
  }



  .route_mobile tr:nth-child(2) td,
  .route_mobile tr:nth-child(4) td,
  .route_mobile tr:nth-child(6) td,
  .route_mobile tr:nth-child(9) td {
    /* background-color: aqua; */
    padding-bottom: 20px;
  }

  .route_mobile tr:nth-child(5) td,
  .route_mobile tr:nth-child(7) td,
  .route_mobile tr:nth-child(8) td,
  .route_mobile tr:nth-child(10) td{
    padding-bottom: 0;
  }
}