/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* 헤더 고정 확인용 최소 높이 지정 */
  min-height: 110vh;
}

@media (min-width: 769px) {
  main {
    margin: 0 235px;
    /* background-color: red; */
    height: auto;
  }

  .rules_title {
    margin-top: 30px;
    /* background-color: antiquewhite; */
  }

  .rules_title p {
    font-size: 28px;
    font-weight: bold;
    display: inline;
    padding-bottom: 100px;
    /* color: red; */
  }


  .rules_attack_gicho {
    margin-top: 30px;
    /* background-color: wheat; */
    margin-bottom: 100px;
  }

  .rules_attack_gicho p {
    font-size: 28px;
    font-weight: bold;
    /* background-color: blueviolet; */
    padding-bottom: 10px;
  }



  .rules_attack_gicho img {
    width: 40%;
    /* justify-content: right; */
    float: right;

  }

  
  .rules_ining,
  .rules_list,
  .rules_goOut,
  .rules_Out,
  .rules_attackPoint {
    /* background-color: aqua; */
    font-size: 20px;
    margin-bottom: 30px;
  }

  .rules_ining p,
  .rules_list p,
  .rules_goOut p,
  .rules_Out p,
  .rules_attackPoint p {
    font-size: 25px;
    font-weight: bold;
    /* background-color: aquamarine; */
    margin-bottom: 10px;
  }

  .rules_attack_gicho ul,
  .rules_ining ul,
  .rules_list ul,
  .rules_goOut ul,
  .rules_Out ul,
  .rules_attackPoint ul {
    margin-left: 30px;
    /* font-weight: bold; */
    font-size: 20px;
  }


  .rules_list img {
    width: 60%;
    /* display: block;
    margin: 20px auto */

  }
}

@media (max-width: 768px) {
  main {
    margin: 0 20px;
    /* background-color: red; */
    height: auto;
  }

  .line1 {
    margin-top: 10px;
    border-top: 3px solid #000080;
    margin-bottom: 10px;

  }

  .rules_title {
    margin-top: 20px;
    /* background-color: antiquewhite; */
  }

  .rules_title p {
    font-size: 28px;
    font-weight: bold;
    display: inline;
    padding-bottom: 100px;
  }

  .rules_attack_gicho{
    margin-top: 30px;
    
   
  }
  
  .rules_attack_gicho,
  .rules_ining,
  .rules_list,
  .rules_goOut,
  .rules_Out,
  .rules_attackPoint {
    /* background-color: aqua; */
    font-size: 16px;
    margin-bottom: 30px;
    
  }

  .rules_attack_gicho p,
  .rules_ining p,
  .rules_list p,
  .rules_goOut p,
  .rules_Out p,
  .rules_attackPoint p {
    font-size: 25px;
    font-weight: bold;
    /* background-color: aquamarine; */
    /* margin-bottom: 10px; */
  }

  .rules_attack_gicho ul,
  .rules_ining ul,
  .rules_list ul,
  .rules_goOut ul,
  .rules_Out ul,
  .rules_attackPoint ul {
    margin-left: 20px;
    /* font-weight: bold; */
    font-size: 16px;
    /* background-color: aquamarine; */
  }

  .rules_attack_gicho img, .rules_list img{
    width: 100%;
  }
}