/* 공통 스타일 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  /* 기본 여백 제거 */
  padding-top: 80px;
  /*header 높이만큼 본문을 아래로 밀기 */
}

/* 헤더 전체 */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* 세로로 위/아래 배치 */
  border-bottom: 1px solid #ddd;
  position: fixed;
  /* 화면 상단 고정 */
  top: 0;
  /* 맨 위 */
  left: 0;
  /* 왼쪽부터 */
  /* background-color: aqua; */
  background-color: white;
  z-index: 1000;
}

/* 위쪽 영역 */
.header_top {
  display: flex;
  justify-content: space-between;
  /* 좌우 배치 */
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  /* padding: 0 200px; */



}

/* 로고 */
.logo img {
  height: 60px;
  padding-left: 200px;
}

/* 햄버거 버튼 */
.hamburger {
  display: none;
  /* PC에서는 숨기고, 모바일 미디어쿼리에서 보이게 */
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background: #333;
  margin: 3px 0;

}

/* 날씨 */
.whether {
  flex: 1;
  /* 가운데 영역 차지 */
  text-align: center;
  font-size: 16px;
  color: #555;
  padding-right: 2px;
  padding-left: 2px;
}

/* 로그인 버튼 */
.member {
  display: flex;
  gap: 10px;
  padding-right: 200px;
}

.login_button,
.join_button {
  text-decoration: none;
  color: #333;
  border: #333 2px solid;
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.login_button:hover,
.join_button:hover {
  background-color: #333;
  color: #fff;
}

/*헤더 아래 - 메뉴바*/
.header_bottom {
  /* background-color: red; */
  height: 65px;
  /* padding-left: 465px; */
  background-color: #c7c3c3;
  line-height: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000;


}

nav {
  /* background: linear-gradient(#ffffff 70px, rgba(255,255,255,0.8) 50px, rgba(255,255,255,0.8) 100%); */
  height: 200px;
  /* 서브 메뉴 포함 */
  overflow: visible;
  /* 잘림 방지 */
  /* position: relative; */
}

.mainmenu {
  margin: 0 auto;
  text-align: center;
  /* margin-left: 300px; */
  /* background-color: #272424; */

}

.mainmenu>li {
  float: left;
  text-align: center;
  line-height: 60px;
  width: 150px;
  position: relative;
  /* 서브 메뉴 절대 위치 기준 */
  list-style-type: none;
  font-size: 20px;
}

.mainmenu>li a {
  color: #272424;
  /* font-weight: bold; */
}

.mainmenu>li a span {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  height: 30px;
}

.mainmenu>li>a span:hover {
  /* content: "";
  position: absolute;
  height: 3px;
  background-color: #28325e;
  left: 50%;
  bottom: -20px;
  width: 0;
  transition: all 0.5s; */
  font-weight: bold;
  color: #28325e;
}

.mainmenu>li:hover span:after {
  width: 100%;
  left: 0;
}

/* 서브 메뉴 */
.mainmenu .sub {
  display: none;
  /* 기본 숨김 */
  /* position: absolute; */

  /* left: 0; */
  background: linear-gradient(#ffffff 70px, rgba(255, 255, 255, 0.8) 50px, rgba(255, 255, 255, 0.8) 100%);
  min-width: 100px;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.2); */
  /* z-index: 10; */
  min-height: 180px;
}

.mainmenu:hover .sub {
  display: block;
  /* hover 시 표시 */
}

.sub li {
  height: 45px;
  line-height: 45px;
  text-decoration: none;
  list-style-type: none;
}

.sub li a {
  /* display: block; */
  /* padding: 5px 10px; */
  color: #272424;
  /* white-space: nowrap; */
  text-decoration: none;
}

.sub li a:hover {
  color: rgb(22, 23, 104);
  font-size: 20px;
  font-weight: bold;
}




@media (max-width: 768px) {
  /*최대 768까지 모바일버전*/


  header {
    /* padding: 0 20px; */
    display: flex;
    /* background-color: aquamarine; */

  }

  .header_bottom {
    display: none;
  }

  .logo img {
    padding-left: 0;
    display: flex;
    justify-content: left;
  }

  .whether {
    display: flex;
    justify-content: center;

  }

  .hamburger {
    display: flex;
    justify-content: right;
    order: 2;
  }

  .member {
    display: none;

  }

  .header_bottom {
    background-color: #fff;
  }

  .mainmenu {
    display: none;
    flex-direction: column;
    /* 세로 배치 */
    align-items: center;
    position: absolute;
    width: 35%;
    background-color: #f4f4f4;
    padding: 10px 0;
    border-top: none;
    left: 0;
  }

  .mainmenu.active {
    display: flex;
    /* 햄버거 클릭 시 보이게 */
  }

  .mainmenu>li {
    float: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 60px;
    line-height: 30px;
  }

  /* open 클래스가 붙으면 보이기 */
  .mainmenu li.open ul {
    display: block;
  }

  .mainmenu>li>a {
    padding: 12px;
    /* background-color: red; */
  }

  /* 서브 메뉴: 오른쪽에 펼치기 */
  .mainmenu li .sub {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    /* 오른쪽으로 */
    width: 180px;
    background: #eaeaea;
    border: 1px solid #ccc;
    z-index: 1000;
  }

  .mainmenu:hover .sub {
    display: block;
    /* hover 시 표시 */
  }

  .login_button,
  .join_button {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 10px;
  }

  /* 모바일 서브 메뉴는 JS로 클릭시 열도록 구현 필요 */
  .mainmenu>li:hover .sub {
    display: none;
  }





}