<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>게시판</title>
    <link rel="stylesheet" href="./assets/css/support.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="./assets/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width">
</head>

<body>
    <header>
        <div class="header_top">
            <div class="logo"><a href="#"><img src="./assets/img/로고편집.png"></a></div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="whether">
                <div class="whe_b">
                    <P>2025년 9월 27일 날씨 : 기온 23℃ 강수확률 10% - 임시</P>
                </div>
            </div>
            <div class="member">
                <div class="login">
                    <a href="#" class="login_button">관리자 로그인</a>
                </div>
                <!-- <div class="join">
                        <a href="#" class="join_button">회원 가입</a>
                    </div> -->
            </div>
        </div>
        <div class="header_bottom">
            <nav>
                <ul class="mainmenu">
                    <li>
                        <a href="#"><span>선수단 정보</span></a>
                        <ul class="sub">
                            <li><a href="#">감독 / 코치</a></li>
                            <li><a href="#">외야수</a></li>
                            <li><a href="#">내야수</a></li>
                            <li><a href="#">투수</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>경기정보</span></a>
                        <ul class="sub">
                            <li><a href="#">경기일정</a></li>
                            <li><a href="#">경기결과</a></li>
                            <li><a href="#">경기요약</a></li>
                            <li><a href="#">라인업</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>야구규칙</span></a>
                        <ul class="sub">
                            <li><a href="#">공격</a></li>
                            <li><a href="#">수비</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./location/location.html"><span>위치안내</span></a>
                        <ul class="sub">
                            <li><a href="#">오시는길</a></li>
                            <li><a href="#">내부 지도</a></li>
                            <li><a href="#">먹거리</a></li>
                            <li><a href="#">화장실</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>고객지원</span></a>
                        <ul class="sub">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">FAQ</a></li>
                            <!-- <li><a href="#">1:1문의</a></li> -->
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <main>
            <!-- 내용 수정 필요 -->
            <div class="line1"></div>
            <h1 class="munhee">문의하기</h1><br>

            <ul>
                <li>빠른 상담을 원하신다면 채팅문의를 이용해주세요.</li>
                <li>운영시간 : 평일 10:00 ~ 18:00 (점심시간 12:00 ~ 13:00) / 주말 · 공휴일 휴무</li>
            </ul><br>
            <div class="container">
                <a href="#" m>
                    <div class="card">
                        <div class="icon">
                            <i class="fas fa-file-alt"></i>
                        </div>
                        <p>문의내역</p>
                    </div>
                </a>

                <a href="http://open.kakao.com/o/sZHZwf2g">
                    <div class="card">
                        <div class="icon">
                            <i class="fas fa-comments"></i>
                        </div>
                        <p>채팅문의</p>
                    </div>
                </a>

                <a href="./문의하기.html">
                    <div class="card">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                        <p>1:1 문의</p>
                    </div>
                </a>

            </div>
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

            <div class="faq-section">
                <h2>자주 찾는 질문</h2>
                <div class="line1"></div>
                <div class="faq-item">
                    <div class="faq-question">
                        주문 시 본인인증은 왜 하는건가요?
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        KKampu는 부정한 방법으로 신규회원 혜택 및 이벤트 참여를 제한하여 더 많은 고객들에게 큰 혜택을 제공하기 위해 주문 시 최초 1회 본인인증을 진행합니다.
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">
                        할인쿠폰 사용 후 부분 반품이 가능한가요?
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        부분 반품은 가능합니다.
                        다만, 반품으로 인해 할인쿠폰 조건이 맞지 않을 경우 환불금액에서 쿠폰 금액 차감 후 환불됩니다.
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">
                        작성한 후기가 보이지 않아요.
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        작성한 후기가 KKampu의 후기 노출 기준에 맞지 않을 경우 삭제 또는 열람이 제한될 수 있습니다. <br><br>
                        ① 상품과 무관한 내용 <br>
                        ② 허위 또는 과장, 광고 내용을 포함한 경우 <br>
                        ③ 불법물, 음란물 또는 청소년유해매체물의 게시 <br>
                        ④ 반품 등으로 구매가 취소된 경우 <br>
                        ⑤ 구매 상품과 무관한 이미지
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">
                        택배사 파업지역인데 타 택배로 발송 가능한가요?
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        파업으로 배송이 원활하지 않은 지역은 타 택배를 통해 대체 발송됩니다.
                        타 택배 발송 완료 후, 문자로 실제 배송 정보를 전달드립니다.
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">
                        어떤 경우에 교환/반품이 불가능한가요?
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        단순 변심의 의한 교환/반품은 상품 수령 후 7일 이내에 신청 가능합니다.
                        다만, 7일 이내에 신청하셔도 아래의 사유에 해당하면 교환/반품이 불가능합니다. <br><br>
                        ① 상품 사용, 상품 훼손 등으로 재판매가 어려운 경우 <br>
                        ② 포장 개봉, 포장 훼손, 라벨 또는 태그 제거 등으로 상품 가치가 상실된 경우 <br>
                        ③ 택배 상자를 이용하지 않고, 상품에 직접 송장을 부착하여 반품한 경우 <br>
                        ④ 주문제작 상품 (예: 각인 이름표 등) <br>
                        ⑤ 상품 특성상 교환, 반품이 불가능한 경우 > 냉장/냉동 상품
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">
                        포장(택배)박스, 상품/상품 박스가 파손되어 배송됐어요.
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        아래 내용을 확인하여 1:1문의로 사진과 함께 남겨주세요. <br><br>
                        ■ 포장(택배) 박스 / 상품 박스 / 상품 <br>
                        ① 전체사진<br>
                        ② 파손된 부분의 사진<br>
                        ③ 받아보신 상품이 포장(택배)에 담긴 상태의 사진<br>
                        ④ 송장이 정확하게 보이는 포장(택배) 박스 전체의 사진
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">
                        상품은 보냈는데 언제 환불 되나요?
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        반품 진행 과정은 아래 내용 참고해 주세요. <br><br>
                        ■ 반품 진행 과정 <br>
                        상품 회수 > 반품 도착 > 검수 진행 > 환불 진행<br><br>
                        ※ 상품 회수 후 반품 도착까지 평일 기준 1~2일 소요됩니다. <br>
                        ※ 검수 기간은 평일 기준 1~3일 소요됩니다.<br>
                        ※ 반품이 완료되었어도 결제한 수단으로 환불까지 기간이 소요됩니다.

                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">
                        상품을 여러개 구매했는데, 일부 수량 부분 교환/반품하고 싶어요.
                        <span class="faq-toggle">▼</span>
                    </div>
                    <div class="faq-answer">
                        ■ 한번에 같은 상품 같은 옵션으로 여러 개 주문한 경우 <br>
                        - 일부 수량만 교환/반품 가능합니다. <br>
                        - 배송 완료 후 교환/반품 요청하는 상품의 수량을 직접 선택하여 교환/반품 접수해 주세요.<br>
                        ※ 상품 출고 전 일부 수량만 취소 또는 옵션 변경은 가능하지 않습니다.<br>
                        ※ 일부 수량 교환의 경우, 같은 옵션으로만 교환 가능합니다.<br><br>

                        ■ 한번에 다른 상품으로 여러개를 주문한 경우 <br>
                        - 각각 취소 또는 상품 배송 완료 후 교환/반품 가능합니다. <br>
                        - 취소 또는 교환/반품 요청하는 상품을 직접 선택하여 교환/반품 접수해 주세요.

                    </div>
                </div>
            </div>
        </main>
        <script>
            // 자주 찾는 질문 토글
            document.querySelectorAll('.faq-question').forEach(question => {
                question.addEventListener('click', () => {
                    const faqItem = question.parentElement;
                    faqItem.classList.toggle('open');
                });
            });
        </script>