<footer class="site-footer">
    <div class="footer-content">
        <p class="logo">⚾ FullCount</p>
        <p>야구 팬을 위한 통합 정보 플랫폼</p>

        <ul class="footer-menu">
            <li><a href="#"><img src="/assets/img/instagramIcon.png"></a></li>
            <li><a href="#"><img src="/assets/img/kakaoIcon.png"></a></li>
            <li><a href="https://www.youtube.com/@lionstv1982"><img src="/assets/img/youtubeIcon.png"></a></li>

        </ul>

        <p class="contact">📧 fullcount@gmail.com | 경인여자대학교 소프트웨어융합학과</p>
        <p class="copy">© 2025 FullCount. All rights reserved.</p>
    </div>
    <div class="footer_right">
        <ul>
            <li class="gogak_center">고객센터</li>
            <li>대표번호 : 032-540-0000</li>
            <li>운영시간 : 오전 9시 ~ 오후 5시(주말 및 공휴일 휴무) </li>
            <li>점심시간 : 오후 12시 ~ 오후 1시</li>

        </ul>
    </div>
    
</footer>
</body>

</html>