<button class="fab" id="fabBtn" aria-haspopup="dialog" aria-controls="chatModal" aria-expanded="false">
  <img src="../assets/img/Floating_Chatbot_Icon.png" alt="도움말 열기">
</button>

<!-- 모달 챗봇 수정할거 ..  -->
<div class="modal" id="chatModal" role="dialog" aria-modal="true" aria-labelledby="chatTitle" hidden>
  <div class="modal__backdrop" data-dismiss="modal"></div>
  <div class="modal__dialog" role="document">
    <header class="modal__header">
      <h2 id="chatTitle">도움말 / 챗봇</h2>
      <button class="modal__close" id="chatClose" aria-label="닫기">×</button>
    </header>
    <div class="modal__body">
      <p>여기에 챗봇 또는 안내 내용을 넣으세요.</p>
    </div>
    <footer class="modal__footer">
      <button class="modal__btn" data-dismiss="modal">닫기</button>
    </footer>
  </div>
</div>

<footer class="site-footer">
    <div class="footer-content">
        <p class="logo">⚾ FullCount</p>
        <p>야구 팬을 위한 통합 정보 플랫폼</p>

        <ul class="footer-menu">
            <li><a href="#"><img src="/assets/img/instagramIcon.png"></a></li>
            <li><a href="#"><img src="/assets/img/kakaoIcon.png"></a></li>
            <li><a href="https://www.youtube.com/@lionstv1982"><img src="/assets/img/youtubeIcon.png"></a></li>

        </ul>

        <p class="contact">📧 fullcount@gmail.com | 경인여자대학교 소프트웨어융합학과</p>
        <p class="copy">© 2025 FullCount. All rights reserved.</p>
    </div>
    <div class="footer_right">
        <ul>
            <li class="gogak_center">고객센터</li>
            <li>대표번호 : 032-540-0000</li>
            <li>운영시간 : 오전 9시 ~ 오후 5시(주말 및 공휴일 휴무) </li>
            <li>점심시간 : 오후 12시 ~ 오후 1시</li>

        </ul>
    </div>
    
</footer>
</body>
<!-- 게임 리스트 -->
<script src="../assets/js/game_match_list.js"></script>
<!-- 지도 js -->
<script src="../assets/js/locatino.js"></script>
<!-- 헤더 메뉴바 js -->
<script src="./assets/js/menubar.js"></script>
<!-- 날씨 api js -->
<script src="./assets/js/weather.js"></script>
<!-- 챗봇 엔터 키 이벤트 js -->
<!-- <script src="./assets/js/chat.js"></script> -->
 <!-- 고객센터 -->
<script src="../assets/js/support.js"></script>

</html>