{%include "include/header.html"%}
<main>
    <div class="legend">
        <div class="legnedPlayer">
            <p>영구결번</p>
        </div>


        <div class="legend_player">
            <a href="/playerinfodetail?player_id=71">
                <img src="/assets/img/legend/mansu22.webp" alt="이만수">
                <div class="info">
                    <p>이만수</p>
                </div>
            </a>
        </div>

        <div class="legend_player">
            <a href="/playerinfodetail?player_id=72">
                <img src="/assets/img/legend/junhyuk10.webp" alt="양준혁">
                <div class="info">
                    <p>양준혁</p>
                </div>
            </a>
        </div>

        <div class="legend_player">
            <a href="/playerinfodetail?player_id=73">
                <img src="/assets/img/legend/yeob36.webp" alt="이승엽">
                <div class="info">
                    <p>이승엽</p>
                </div>
            </a>
        </div>

        <div class="legend_player">
            <a href="/playerinfodetail?player_id=44">
                <img src="/assets/img/legend/hwan21.png" alt="오승환">
                <div class="info">
                    <p>오승환</p>
                </div>
            </a>
        </div>

    </div>

    <div class="win_year">
        <div class="winText">
            <p>우승년도</p>
        </div>

        <div class="winPic">
            <img src="/assets/img/win/v1.png">
            <div class="info">
                <p>1985년</p>
            </div>
        </div>
        <div class="winPic">
            <img src="/assets/img/win/v2.jpg">
            <div class="info">
                <p>2002년</p>
            </div>
        </div>
        <div class="winPic">
            <img src="/assets/img/win/v3.jpg">
            <div class="info">
                <p>2005년</p>
            </div>
        </div>
        <div class="winPic">
            <img src="/assets/img/win/v4.jpg">
            <div class="info">
                <p>2006년</p>
            </div>
        </div>
        <div class="winPic">
            <img src="/assets/img/win/v5.jpg">
            <div class="info">
                <p>2011년</p>
            </div>
        </div>
        <div class="winPic">
            <img src="/assets/img/win/v6.jpg">
            <div class="info">
                <p>2012년</p>
            </div>
        </div>
        <div class="winPic">
            <img src="/assets/img/win/v7.jpg">
            <div class="info">
                <p>2013년</p>
            </div>
        </div>
        <div class="winPic">
            <img src="/assets/img/win/v8.jpg">
            <div class="info">
                <p>2014년</p>
            </div>
        </div>
    </div>
</main>
{%include "include/footer.html"%}
