{%include "include/header.html"%}
<main>
    <div class="hitterInfo">

        <div class="pitcher">

            <div class="pitcherPlayer">
                <p id="top">투수</p>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=44">
                    <img src="/assets/img/pitcher/seonghwan.jpg" alt="오승환">
                    <div class="info">
                        <p>21 오승환</p>
                    </div>
                </a>

            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=45">
                    <img src="/assets/img/pitcher/eunbum.jpg" alt="송은범">
                    <div class="info">
                        <p>46 송은범</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=46">
                    <img src="/assets/img/pitcher/changmin.jpg" alt="임창민">
                    <div class="info">
                        <p>45 임창민</p>
                    </div>
                </a>

            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=47">
                    <img src="/assets/img/pitcher/junghyun.jpg">
                    <div class="info">
                        <p>29 백정현</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=48">
                    <img src="/assets/img/pitcher/daewoo.jpg">
                    <div class="info">
                        <p>17 김대우</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=49">
                    <img src="/assets/img/pitcher/jaewoon.jpg">
                    <div class="info">
                        <p>62 김재윤</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=50">
                    <img src="/assets/img/pitcher/wooseonghyun.jpg">
                    <div class="info">
                        <p>20 이승현</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=51">
                    <img src="/assets/img/pitcher/tootaehoon.jpg">
                    <div class="info">
                        <p>27 김태훈</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=52">
                    <img src="/assets/img/pitcher/yanghyun.jpg">
                    <div class="info">
                        <p>19 양현</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=53">
                    <img src="/assets/img/pitcher/jaeik.jpg">
                    <div class="info">
                        <p>26 이재익</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=54">
                    <img src="/assets/img/pitcher/garibi.jpg">
                    <div class="info">
                        <p>60 가라비토</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=55">
                    <img src="/assets/img/pitcher/hurado.jpg">
                    <div class="info">
                        <p>75 후라도</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=56">
                    <img src="/assets/img/pitcher/wontae.jpg">
                    <div class="info">
                        <p>3 최원태</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=57">
                    <img src="/assets/img/pitcher/choongyeon.jpg">
                    <div class="info">
                        <p>51 최충연</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=58">
                    <img src="/assets/img/pitcher/jikwang.jpg">
                    <div class="info">
                        <p>11 최지광</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=59">
                    <img src="/assets/img/pitcher/haneol.jpg">
                    <div class="info">
                        <p>37 최하늘</p>
                    </div>
                </a>
            </div>




            <div class="player">
                <a href="/playerinfodetail?player_id=60">
                    <img src="/assets/img/pitcher/changsub.jpg">
                    <div class="info">
                        <p>42 양창섭</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=61">
                    <img src="/assets/img/pitcher/mushin.jpg">
                    <div class="info">
                        <p>48 김무신</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=62">
                    <img src="/assets/img/pitcher/taein.jpg">
                    <div class="info">
                        <p>18 원태인</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=63">
                    <img src="/assets/img/pitcher/seongmin.jpg">
                    <div class="info">
                        <p>28 이승민</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=64">
                    <img src="/assets/img/pitcher/jaehi.jpg">
                    <div class="info">
                        <p>59 이재희</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=65">
                    <img src="/assets/img/pitcher/daeho.jpg">
                    <div class="info">
                        <p>44 김대호</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=66">
                    <img src="/assets/img/pitcher/dongjae.jpg">
                    <div class="info">
                        <p>61 황동재</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=67">
                    <img src="/assets/img/pitcher/jaseonghyun.jpg">
                    <div class="info">
                        <p>57 이승현</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=68">
                    <img src="/assets/img/pitcher/hosung.jpg">
                    <div class="info">
                        <p>1 이호성</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=69">
                    <img src="/assets/img/pitcher/sunyeop.jpg">
                    <div class="info">
                        <p>4 육선엽</p>
                    </div>
                </a>
            </div>

            <div class="player">
                <a href="/playerinfodetail?player_id=70">
                    <img src="/assets/img/pitcher/chanseong.jpg">
                    <div class="info">
                        <p>55 배찬승</p>
                    </div>
                </a>
            </div>

        </div>

        <div class="go_up">
            <button type="button" class="btn-go-up" data-scroll-to="#top" aria-label="내야수로 이동">▲</button>
        </div>

    </div>


</main>
<footer></footer>
<!-- 메뉴바 js -->
<script src="/assets/js/menubar.js"></script>
<!-- 날씨 api js -->
<script src="/assets/js/weather.js"></script>
<!-- 챗봇 엔터 키 이벤트 js -->
<!-- <script src="/assets/js/chat.js"></script> -->


<script>

    // 맨 아래 화살표 눌러서 맨 위로
    document.addEventListener('click', (e) => {
        const btn = e.target.closest('[data-scroll-to]');
        if (!btn) return;

        const selector = btn.getAttribute('data-scroll-to');
        const target = document.querySelector(selector);
        if (!target) return;

        // #inside일 경우 → 무조건 맨 위로
        if (selector === '#top') {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        } else {
            target.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    });


</script>

</body>

</html>