{%include "include/header.html"%}

<!-- ================== MAIN ================== -->
<main class="support-page">
    <div class="line1"></div>
    <h1 class="munhee">문의하기</h1><br>

    <ul>
        <li>빠른 상담을 원하신다면 채팅문의를 이용해주세요.</li>
        <li>운영시간 : 평일 10:00 ~ 18:00 (점심시간 12:00 ~ 13:00) / 주말 · 공휴일 휴무</li>
    </ul><br>

    <!-- 문의하기 카드 영역 -->
    <div class="container">
        <a href="./Inquiry_history.html">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-comments"></i>
                </div>
                <p>문의내역</p>
            </div>
        </a>

        <a href="http://open.kakao.com/o/sZHZwf2g">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-comments"></i>
                </div>
                <p>채팅문의</p>
            </div>
        </a>

        <a href="./Inquiry_details.html">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-edit"></i>
                </div>
                <p>1:1 문의</p>
            </div>
        </a>
    </div>

    <!-- ================== FAQ ================== -->
    <div class="faq-section">
        <h2>자주 찾는 질문</h2>
        <div class="line1"></div>
        <div id="faqList" aria-live="polite"></div>
    </div>


</main>

{%include "include/footer.html"%}